.container {
  background-color: rgb(219, 219, 219);
}

.container .col-1,
.col-4,
.col-8,
.col-6,
.col-12 {
  border: 2px solid white;
  text-align: center;
}

.container-fluid .row {
  padding: 50px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.desc {
    font-size: 10px;
    color: gray;
}

i {
    font-size: 30px;
    color: green;
}

.section-one .container-fluid {
    background-color: #ebfaff8c;
}